*.env
ctr/persistent_db/*/run/data
ctr/persistent_db/*/run/initdb.d/!.gitkeep
src/twitter_api/__pycache__
src/twitter_api/*/__pycache__
src/etl

# temp
ctr/etl
src/base
src/twitter_api/resource
src/twitter_api/base